@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  transition: all 0.2s;
}

.slider:hover::-webkit-slider-thumb {
  background: #22c55e;
  transform: scale(1.2);
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
}

.slider:hover::-moz-range-thumb {
  background: #22c55e;
  transform: scale(1.2);
}
